body {
	margin: auto;
	text-align: center;
	background-color: #1B2F33;
	margin-top: 120px;
}

h1 {
	margin: auto;
	color: white;
	font-family: Tahoma;
	font-size: 40px;
}

#number {

	margin: auto;
	margin-top: 10px;
	height: 200px;
	width: 200px;
	background-color: #EF3054;
	font-size: 80px;
	font-family: Tahoma;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	border: 3px double white;

}

#buttons {
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	width:400px;
	margin-top: 10px;
}

button {
	height: 40px;
	width:30%;
	border-radius: 3px;
	cursor: pointer;
	background-color: black;
	color: white;
	border: none;
	font-weight: bold;
	letter-spacing: 3px;
}

button:hover {
	background-color: #EDD83D;
	color: black;
	transition: 300ms ease-in-out;

}

button:active {
	transform: scale(0.8);
}